.footer {
    display: flex;
    height: 160px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .05);
    background: #E5E5E5;
}

.footer__menu {
    height: 100%;
}

.footer__menu_list {
    display: flex;
    height: 100%;
    align-items: center;
}

.menu_list__column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.footer__menu_item {
    // margin: 10px;
    margin-right: 50px;
}

.footer__about {
    display: flex;
    flex-direction: column;

    text-align: left;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 20px;
    width: 25%;
    // flex-shrink: 6;
}

.logo_and_copyrights {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.recall_me_now_footer {
    position: absolute;
    right: 10%;
    bottom: -99%;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: flex-end;

}

.glanec_info {
    display: flex;
}

.glanec_text {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    color: #3A4047;
}