header {
    height: 163px;
}

.header__top {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}


.top__about{
    padding-left: 40px;
    padding-right: 40px;

    padding:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.cabinet_and_email_wrapper{
    display: flex;
}

.panel__facebook_and_phones_wrapper{
    display: flex;
    justify-content: space-around;
align-items: center;
}

.panel__cabinet{
    display: flex;
}

/* .cabinet__link{
    margin: 2px;
} */

.top__panel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown_menu__button{
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.dropdown_menu__child {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    display: none;
    margin: 10px;
    margin-left: -115px;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.dropdown_menu:hover .dropdown_menu__child {
    display: block;
}

.item__content{
    margin-top:10px;
    margin-bottom:10px;
}

.dropdown_menu__diamond {
    position: absolute;
    right: 6px;
    top: -5%;
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    transform: rotate(-45deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

}

.drop_down_menu__item {    
    display: flex;
} 


.facebook_logo{
    margin: 10px;
}

.phone_icon{
    margin: 10px;
}

.menu__list {
    /* transition: all .3s; */
    /* width: 100%; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin: 0;
}

.menu__item {
    cursor: pointer;
    transition: all .3s;
    border-top: 1px solid transparent;
    list-style-type: none;
    height: 100%;
    padding: 0 10px;
}

.menu__link {
    transition: all .3s;
    text-decoration: none;
}

.menu__item:hover {
    border-top: 1px solid #1AB0CE;

}

.menu__item:hover .menu__link {
    color: #1AB0CE;
}

.menu__search_item {
    background: url("../img/serach_icon.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.menu__link:after{
    /* margin: 10px; */
    content: url("../img/menu_spacer.svg");
    position:relative;
    left: 10px;
    
}