@font-face{
    font-family: Clear Sans;
    src: url("../fonts/ClearSans-Regular.ttf") format("truetype")
}

$default_text_color: #3A4047;

.h1_text {
    font-family: Clear Sans;
    font-size: 36px;
    line-height: 42px;
    color: $default_text_color;
}

.h2_text {
    font-family: Clear Sans;
    font-size: 24px;
    line-height: 28px;
    color: $default_text_color;
}

.h3_text {
    font-family: Clear Sans;
    font-size: 16px;
    line-height: 19px;

    color: $default_text_color;
}

.h3_text_center_uppercase {
    font-family: Clear Sans;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: $default_text_color;
}

.regular_text {
    font-family: Clear Sans;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: $default_text_color;
}

.label_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    font-variant: small-caps;
    color: #BEC7D1;
}